
  /* main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  } */
  /* ul {
    list-style-type: none;
    padding-left: 20px;    
    margin: 0;
    text-align: left;      
  } */
  /* li {
    text-align: left;      
  } */
  /* li::before {
    content: "✔"; 
    color: green; 
    font-size: 1.2em; 
    margin-right: 10px; 
  }
  h1 {
    width: 100%; 
    padding-top: 10px;
    padding-left: 10px; 
    padding-bottom: 10px;
    box-sizing: border-box; 
    font-size: var(--large-font); 
    color: var(--standard-blue);
  } */
  /* #detail-select-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--standard-blue);
  }
  #detail-select-option select{
    font-size: var(--small-font);
    margin-left: 10px;
    width: 220px;
    height: 50px;
  } */
  /* #detail-image-container {
    flex: 2 1 66.66%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
  }
  #detail-image-container img {
    width: 90%;
    height: auto;
    padding: 10px;
  } */
  /* .detail-cards {
    flex: 1 1 33.33%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  } */
  /* .card {
    background-color: var(--standard-white);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  } */
  
  /* .action{
    display: flex;
    flex-direction: column;
    gap: 5px;
  } */
  /* .service-button{
    height: 30px;
    background-color: var(--standard-blue);
    color: var(--standard-white);
    font-size: var(--smaller-font);
  } */

  /* .summarycard {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .summarycard  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center; 
  } */

  
/* #detail{
  padding: 10px;
  text-align: justify; 
  font-size: var(--small-font);
} */

/* #lbtrailSelect{
  font-weight: bolder;
  font-size: var(--medium-font);
} */
/* .user-info-header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-left: auto; 
    width: 60px;
    padding: 5px;
}

.user-name-display {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    color: white;
}

.user-photo-display {
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #a0a0a0; 
} */


  /* @media (max-width: 640px) {
    main {
      flex-direction: column;
      align-items: center;
    }
    .image-container, .cards {
      flex: none;
      width: 310px;
    }
    .comp_nav_a{
      display: none;
      width: 130px;
      
  }

  }

  @media (min-width:641px){
    
  } */
  