/* body {
    margin: 0;
    font-family: Arial, sans-serif;
  } */
/* h1{
    margin-top: 10px;
    margin-left: 15px;
    color: var(--standard-blue);
} */
/* .cta-button {
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color:var(--standard-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--small-font);
} */
/* .sell-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */
/* .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card h3 {
    margin: 8px 0;
}
.card p {
    margin: 8px 0;
}
.card input {
    width: 50px;
} */
/* .sell-cart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.sell-cart table {
    border-collapse: collapse;
    width: 90%; 
    max-width: 1200px; 
}
.sell-cart th, .sell-cart td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.sell-cart th {
    background-color: #f2f2f2;
} */

/* #cart-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .sell-finalize-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.sell-finalize-button button{
    width: 200px;
    height: 30px;
    background-color: var(--standard-blue);
    color: var(--standard-white);
    font-size: var(--small-font);
} */
/* @media (min-width: 768px) {
    .container {
        justify-content: space-between;
    }
    .card {
        flex: 1 1 calc(25% - 32px);
        margin: 16px;
    }
    .comp_nav_a{
        display: flex;
        width: 130px;
        
    }
} */