*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* base para 1rem */
}

:root{
    --standard-blue: #003399;
    --standard-yellow: #FFEE93;
    --standard-green:#009B3A;
    --standard-white:white;

    --X-larger-font: 2.5rem;
    --larger-font: 2rem;
    --large-font: 1.75rem;
    --medium-font: 1.5rem;
    --small-font: 1.25rem;
    --smaller-font: 1rem; 
    --tiny-smaller-font: 0.75rem;
}

h1 { 
    font-size: var(--X-larger-font);
    color: var(--standard-blue);
    width: 100%; 
    padding-top: 10px;
    padding-left: 10px; 
    padding-bottom: 10px;
    box-sizing: border-box;
}
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.75rem; }


main{
    border: 3px solid var(--standard-green);
}
img {
    width: 100%;
    height: auto; /* Keeps the aspect ratio */
}

#detail-main{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.details-ul{
    list-style-type: none;
    padding-left: 20px;    /* Add space for markers */
    margin: 0;
    text-align: left;      
}

.details-ul li{
    text-align: left;
}

.details-ul li::before{
    content: "✔"; 
    color: var(--standard-green); 
    font-size: var(--medium-font); 
    margin-right: 10px; /* Spacing between the check and the text */
}

#detail-select-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;

}
#detail-select-option select{
    font-size: var(--small-font);
    margin-left: 15px;
    width: 220px;
    height: 50px;

}

#detail-image-container {
    flex: 2 1 66.66%; /* 2/3 da largura */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
#detail-image-container img {
    width: 100%;
    height: auto;
    padding: 10px;}

.detail-cards {
    flex: 1 1 33.33%; /* 1/3 da largura */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.detail-card {
    display: flex;
    flex-direction: column;
    background-color: var(--standard-white);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    gap: 5px;
}

.detail-service-button{
    height: 30px;
    background-color: var(--standard-blue);
    color: var(--standard-white);
    font-size: var(--smaller-font);
}

.detail-summarycard {
width: 100%;
padding: 20px;
margin: 0 auto;
}

.detail-summarycard  h2 {
margin-top: 0;
margin-bottom: 20px;
font-size: 24px;
color: #333;
text-align: center; 
}

.detail-info {
display: flex;
justify-content: start;
margin-bottom: 15px;
}

.detail-info label {
width: 90px;
font-weight: bold;
color: #555;
text-align: left; 
}

.detail-info span {
text-align: left; 
color: #333;
}

#detail{
  padding: 10px;
  text-align: justify; 
  font-size: var(--small-font);
}
.details-h1{
    width: 100%; 
    padding-top: 10px;
    padding-left: 10px; 
    padding-bottom: 10px;
    box-sizing: border-box;
}

#lbtrailSelect{
  font-weight: bolder;
  font-size: var(--medium-font);
}

.login-main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f7f6;
    color: #333;    
}

.login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.login-container-headers{
    color: #4b502c;
    margin-bottom: 20px;
}

.login-auth-form {
    margin-bottom: 20px;
}

.login-auth-form input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

.login-auth-form button {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-login{
    background-color: blue;
}

#btn-login:hover{
    background-color: #2980b9;
}

#btn-google-login {
    background-color: #4d0a01; /* Cor do Google */
}

#btn-google-login:hover {
    background-color: #c64a3a;
}

#login-btn-reset-password {
    background-color: #791115; /* Cor de alerta */
}

#login-btn-reset-password:hover {
    background-color: #f1b076;
}

#btn-delete-account {
    background-color: #e74c3c; /* Cor de perigo */
}

#btn-delete-account:hover {
    background-color: #c0392b;
}

.toggle-link {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
}

.toggle-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.toggle-link a:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

#dashboard-section p {
    margin-bottom: 8px;
    font-size: 0.95em;
}

#login-user-email, #login-user-uid, #login-user-display-name, #firestore-data {
    font-weight: bold;
    color: #3498db;
    word-break: break-all; /* Para quebrar textos longos como o UID */
}

.modal-overlay {
    position: fixed; /* Fixa na viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 90%; /* Responsivo */
    position: relative; /* Para z-index se precisar de mais elementos */
}

.modal-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #333;
}

.modal-content button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: auto; /* Ajusta o botão ao conteúdo */
    display: inline-block; /* Para centralizar se precisar */
    margin: 0 auto; /* Centraliza o botão */
}

.modal-content button:hover {
    background-color: #2980b9;
}

.cta-button {
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color:var(--standard-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--small-font);
}
.cta-button:hover{  
    transform: scale(1.05);
}

/* Formating Header and menu starting */
.header-container{
    display: flex;
    align-items:end;
    justify-content: space-between;
    background-color: var(--standard-blue);
}

.header-title-image{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.comp_nav {
	display: flex;
	flex-direction: column;
	list-style: none;
    align-items: center;
    background-color: black;
    
} 
.comp_nav_a{
    display: none;
    flex-direction: row;
    justify-content: center;
	text-align: center;
    align-items: center;
	text-decoration: none;
	color:var(--standard-yellow);
    height: 40px;
    width: 100%;
    font-size: var(--medium-font);
}


.comp_nav_a:hover {
    color: var(--standard-blue); 
    background-color: var(--standard-yellow);
    font-weight: 700;
} 

.active{
	background-color: black;
	box-shadow: 0 0 5px var(--standard-white);
}
.active::before {
	content: "📍";/* just a wayfinding symbol for the user */
}

.open a {
	display: flex;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
	align-self: start;
    font-size: var(--larger-font);
	border: 0px;
	background: none;
	color: var(--standard-white);
}

#menu::before {
	content: "\2630";
}

#menu.open::before {
	content: "\2716";
}
/* Formating the bussines logo text */
#large_text{
    font-size: var(--medium-font);   
}
#small_text{
    font-size: var(--smaller-font);
}
#business_name{
    display: flex;
    flex-direction: column;
    color: var(--standard-white);
    width: auto;
}
/* Ending formating logo text */

/* Ending formating header/menu */

/* Formatting footer */
.home-learnmorebtn{
    height: 40px;
    width: 100px;
    background-color: var(--standard-blue);
    color: var(--standard-white);
    font-size: var(--mediu-font);
}
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--standard-blue);
    padding: 10px;
    color: var(--standard-white);
}

.footer-heading{
    font-size: var(--smaller-font);
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: auto;
    padding: 5px;

}

.footer-container p {
    font-size:var(--tiny-smaller-font);
}
.footer-container p span{
    font-size:var(--tiny-smaller-font);
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaçamento entre os ícones */
    padding: 20px;
    

}
  
.social-icons a img {
    border-radius: 10px;
}

/* Formatting a hero */
.hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('../images/rio-hero.webp') no-repeat center center/cover;
}

.image-container {
    width: 100%;
    max-width: 405px;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#thanksmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: var(--small-font);
}

#thanksdata{
    width: 250px;
}


/* Conteúdo principal da página (para ilustrar que a overlay fica por cima) */
.main-content {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-info-header {
    display: flex; /* Transforma a div de info do usuário em um container flex */
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaçamento entre o nome e a foto */
    margin-left: auto; /* Empurra este item para a direita máxima, após o botão de menu */
    width: 60px;
    padding: 5px;
}

.user-name-display {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    color: white;
}

.user-photo-display {
    width: 25px; /* Tamanho da foto do usuário no header */
    height: 25px;
    border-radius: 50%; /* Deixa a foto redonda */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border: 2px solid #a0a0a0; /* Borda sutil para a foto */
}
#home-external-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.home-cards {
    width: auto;
    display: grid;
    gap: 1rem;
    padding: 15px;
}

.home-card {
border: 3px solid var(--standard-blue);
border-radius: 5px;
padding: 1rem;
text-align: center;
width: auto;
}

.home-card img:hover {
transform: scale(1.1);
transition: transform 0.3s;
}

.home-card1 { grid-area: card1; }
.home-card2 { grid-area: card2; }
.home-card3 { grid-area: card3; }
.home-card4 { grid-area: card4; }
.home-card5 { grid-area: card5; }
.home-card6 { grid-area: card6; }
.home-card7 { grid-area: card7; }
.home-card8 { grid-area: card8; }

.home-justified {
  text-align: justify; /* Alinha o texto de forma justificada */
  font-size: small;
}

.sell-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sell-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
}
.sell-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.sell-card h3 {
    margin: 8px 0;
}
.sell-card p {
    margin: 8px 0;
}
.sell-card input {
    width: 50px;
}

.sell-cart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.sell-cart table {
    border-collapse: collapse;
    width: 90%; /* Adjust to fit almost the entire width of the screen */
    max-width: 1200px; 
}
.sell-cart th, .sell-cart td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.sell-cart th {
    background-color: #f2f2f2;
}
#cart-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sell-finalize-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.sell-finalize-button button{
    width: 200px;
    height: 30px;
    background-color: var(--standard-blue);
    color: var(--standard-white);
    font-size: var(--small-font);
}

.join-container{
    margin-left: 15px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--standard-blue);
    width: 80%;
    max-width: 500px;
}

.join-form-group {
    margin-bottom: 15px;
}

.join-form-group input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.join-form-group input[type="text"]:invalid:required,
input[type="email"]:invalid:required,
input[type="tel"]:invalid:required,
select:invalid:required {
    border-left-color: red;
    border-width: 5px;
}

.join-form-group select:valid:required {
    border-left-color: green;
    border-width: 5px;
}

.join-form-group input[type="text"]:invalid:required + label::after,
input[type="email"]:invalid:required + label::after,
input[type="tel"]:invalid:required + label::after,
select:invalid:required + label::after {
    content: " *";
    color: red;
}

.join-form-group input:required {border-left-width: 5px; border-left-color: #d70000;}
.join-form-group input:focus {border-left-width: 5px; border-left-color: black; outline:none;}
.join-form-group input:required:valid{border-left-color: green;}

#join-btnsubmit {
    background-color: var(--standard-blue);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-size: var(--medium-font);
}

#join-btnsubmit:hover {
    background-color: #4cae4c;
}

.join-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.join-overlay-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
}

.join-container {
        width: 95%;
        margin: 10px;
        padding: 20px;
}
.overlay-content {
    padding: 20px;
}

.overlay-content h3 {
    font-size: 18px;
}

.overlay-content p {
    font-size: 14px;
}

#schedule-form input[type="date"]:invalid:required,
input[type="time"]:invalid:required,
select:invalid:required {
    border-left-color: red;
    border-left-width: 10px;
}


#schedule-form input:valid:required,
#schedule-form select:valid:required {
    border-left-width: 10px;
    border-left-color: black;
}


#hiking-scheduler {
    margin-top: 10px; 
    margin-left: 15px;
    margin-bottom: 10px;
    max-width: 600px;
    border: 1px solid var(--standard-blue);
    border-radius: 5px;
}
#schedule-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#schedule-form label {
    margin-top: 10px;
}
#schedule-form input, #schedule-form select, #schedule-form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}
#schedule-form button {
    margin-top: 20px;
    background-color: var(--standard-blue);
    color: white;
    border: none;
    cursor: pointer;
}
#schedule-form button:hover {
    background-color: black;
}

.hiking-controls {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}
.hiking-controls label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: x-large;
    color: #555;
}
.hiking-controls input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
}
.hiking-controls button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.hiking-controls button:hover {
    background-color: #0056b3;
}

.hiking-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none; 
    margin-left: 10px;
    vertical-align: middle;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.hiking-error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
#map {
    height: 600px;
    width: 100%;
}

@media (min-width: 300px) and (max-width: 640px) {
    .home-cards {
      grid-template-areas:
          "card1"
          "card2"
          "card3"
          "card4"
          "card5"
          "card6"
          "card7"
          "card8";
        grid-template-columns: 1fr;
    }
    #hiking-scheduler {
        margin: 0 auto;
        width: 94%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

  }
  @media (min-width:641px) and (max-width: 911px){
    .home-cards {
        grid-template-areas:
          "card1 card2"
          "card3 card4"
          "card5 card6";
        grid-template-columns: 1fr 1fr;
      }
  }